*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
    max-width: 470px;
    background-color: rgba(20, 85, 100, 0.687);
    
}

